@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/*CSS Reset*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {

    font-family: 'Poppins', sans-serif;

}

